/* General */

body {
    margin: 0 12vw;
    min-height: 100vh;
    background: linear-gradient(135deg, #E6F0FF 0%, #C2D9FF 50%, #E6F0FF 100%);
    overflow: hidden;
}

/* Utilities */
.card {
    padding: 0 2vw;
    align-items: center;
    border-radius: 16px;
    background-color: #F0F8FF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    padding: 20vh;
}

/* Header */

header {
    min-height: 80px;
    height: 6vh;
    margin: 4vh 0;
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

.title {
    font-size: x-large;
    font-weight: 600;
}

.setup {
    display: flex;
    justify-content: space-between;
}

.eth {
    padding: 4px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    margin-right: 8px;
    background-color: #627EEA;
    vertical-align: middle;
    
}

.chain {
    padding: 8px 14px;
    border-radius: 8px;
    user-select: none;
    display: inline-flex;
    align-items: center;
    font-size: large;
    font-weight: 400;
}

.wallet {
    border: none;
    margin-left: 1vw;
    padding: 8px 14px;
    background-color: #4DA2FF;
    color: #F0F8FF;
    border-radius: 8px;
    font-size: large;
    font-weight: 400;
    transition: background 0.1s ease-in, box-shadow 0.1s ease-in;
}

.wallet:not(.wallet-connected):hover {
    background-color: #2B8AFF;
    box-shadow: 0 0 8px rgba(77, 162, 255, 0.6);
}

/* Main */

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.domain {
    height: 44vh;
    width: 24vh;
}

.payment {
    height: 44vh;
    width: 44vh;
    margin-left: 4vw;
}