@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

:root {
    --primary-accent: #00A3FF;
    --second-accent: #0097ED;
    --background: #D6EDFF;
    --primary-text: #1F1F1F;
    --second-text: #636363;
}

html {
    font-family: "PT Mono", monospace;
    font-weight: 400;
    font-size: medium;
    overflow: hidden;
}

body {
    height: 100vh;
    margin: 0 20%;
    background: linear-gradient(to bottom, var(--background), transparent);
}

header {
    height: 40px;
    margin: 4% 0;
    display: flex;
    justify-content: space-between;
}

.title {
    display: inline-flex;
    align-items: center;
    font-size: x-large;
}

main {
    display: flex;
    justify-content: center;
}

.domain-session {
    height: fit-content;
    width: 50%;
}

.copyWallet {
    padding: 0;
    border: 0;
    text-decoration: underline;
    background-color: transparent;
}

.copyWallet:hover {
    color: var(--primary-accent);
}

.register {
    height: 40px;
    width: 40%;
    margin: 4% 30%;
}

.payment-session {
    height: fit-content;
    width: 50%;
    margin-left: 16px;
}

.some-session {
    height: fit-content;
    margin-top: 16px;
}

.button {
    padding: 0 16px;
    border: 0;
    border-radius: 8px;
    font-size: medium;
    color: white;
    background-color: var(--primary-accent);
}

.button:not(.connected):hover {
    cursor: pointer;
    background-color: var(--second-accent);
}

.card {
    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.3);
}

.subtitle {
    margin-top: 4%;
    font-size: large;
}

.inputbox {
    height: 32px;
    width: 100%;
    padding-left: 16px;
    border: 0;
    border-radius: 8px;
    margin: 2% 0;
    box-sizing: border-box;
    outline: none;
    font-size: medium;
    background-color: rgba(255, 255, 255, 0.6);
}

.inputbox:focus {
    box-shadow: 0 0 2px 2px #AED7FB;
}

.hook {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    font-size: small;
}